---
import experiences from '../data/experiences.json';
import { bgColors } from '../helpers/colors';
import Paragraph from './ui/Paragraph.astro';
import SectionTitle from './ui/SectionTitle.astro';
---

<section class='border-y-2 border-black'>
  <SectionTitle title='EXPERIENCIA' subtitle='LABORAL' />
  <div class='flex flex-col'>
    {
      experiences.map((exp) => (
        <article class='grid md:grid-cols-2 border-b-2 border-black last:border-b-0'>
          <div class='flex flex-col gap-6 border-b-2 md:border-b-0 md:border-r-2 border-black py-10 px-3 md:px-5 lg:px-10'>
            <div class='flex gap-6 group'>
              <div class='w-16 h-16 md:w-24 md:h-24 overflow-hidden border-2 border-black bg-orange-300'>
                <a href={exp.url.web} target='_blank' rel='noopener noreferrer'>
                  <img
                    src={exp.img.src}
                    alt={exp.img.alt}
                    class='w-full h-full object-cover group-hover:scale-110 transition-all'
                    loading='lazy'
                  />
                </a>
              </div>
              <div class='flex flex-col'>
                <a href={exp.url.web} target='_blank' rel='noopener noreferrer'>
                  <span class='text-xl xl:text-2xl font-bold'>
                    # {exp.company}
                  </span>
                </a>
                <span class='text-lg md:text-xl xl:text-2xl'>{exp.job}</span>
                <span class='text-lg md:text-xl xl:text-2xl'>{exp.date}</span>
              </div>
            </div>
            {exp.descriptions.map((desc) => (
              <Paragraph text={desc} />
            ))}

            <div class='flex gap-3 items-center'>
              <div class='p-1 border-4 border-green-300 bg-black text-green-300'>
                <svg
                  xmlns='http://www.w3.org/2000/svg'
                  viewBox='0 0 24 24'
                  fill='currentColor'
                  class='w-5 h-5'
                >
                  <path d='M1.5 8.67v8.58a3 3 0 003 3h15a3 3 0 003-3V8.67l-8.928 5.493a3 3 0 01-3.144 0L1.5 8.67z' />
                  <path d='M22.5 6.908V6.75a3 3 0 00-3-3h-15a3 3 0 00-3 3v.158l9.714 5.978a1.5 1.5 0 001.572 0L22.5 6.908z' />
                </svg>
              </div>
              <div class='p-1 border-4 border-green-300 bg-black text-green-300'>
                <svg
                  xmlns='http://www.w3.org/2000/svg'
                  viewBox='0 0 24 24'
                  fill='currentColor'
                  class='w-5 h-5'
                >
                  <path
                    fill-rule='evenodd'
                    d='M1.5 4.5a3 3 0 013-3h1.372c.86 0 1.61.586 1.819 1.42l1.105 4.423a1.875 1.875 0 01-.694 1.955l-1.293.97c-.135.101-.164.249-.126.352a11.285 11.285 0 006.697 6.697c.103.038.25.009.352-.126l.97-1.293a1.875 1.875 0 011.955-.694l4.423 1.105c.834.209 1.42.959 1.42 1.82V19.5a3 3 0 01-3 3h-2.25C8.552 22.5 1.5 15.448 1.5 6.75V4.5z'
                    clip-rule='evenodd'
                  />
                </svg>
              </div>
            </div>
          </div>

          <div class='flex flex-col'>
            <div class='py-10 px-3 md:px-5 lg:px-10'>
              <span class='text-xl xl:text-2xl font-bold'># APORTE</span>
              {exp.contributions.map((contribution) => (
                <Paragraph text={contribution} classes={'mt-2'} />
              ))}
            </div>
            <div class='border-t-2 border-black py-10 px-3 md:px-5 lg:px-10'>
              <span class='text-xl xl:text-2xl font-bold'>
                # TECNOLOGÍAS y METODOLOGÍAS
              </span>
              <ul class='flex flex-wrap gap-3 mt-5'>
                {exp.technologies.map((tech) => (
                  <li
                    class={`text-lg xl:text-xl border-2 border-black rounded-full px-4 py-1 ${
                      bgColors[
                        tech.color.toUpperCase() as keyof typeof bgColors
                      ]
                    }`}
                  >
                    {tech.name}
                  </li>
                ))}
              </ul>
            </div>
          </div>
        </article>
      ))
    }
  </div>
</section>
