---
const navLinkClasses =
  'text-lg lg:text-xl text-center uppercase w-full transition-all';
---

<header>
  <nav>
    <ul
      class='hidden lg:grid lg:grid-cols-5 items-center justify-between border-b-2 border-black'
    >
      <li
        class={`${navLinkClasses} border-r-2 border-black bg-black text-white`}
      >
        <a href='/' class='block py-5 px-10'>Inicio</a>
      </li>
      <li class={`${navLinkClasses} hover:bg-black hover:text-white `}>
        <a href='/' class='block py-5 px-10'>Experiencia</a>
      </li>
      <li
        class={`${navLinkClasses} border-l-2 border-r-2 border-black hover:bg-black hover:text-white`}
      >
        <a href='/' class='block py-5 px-10'>Proyectos</a>
      </li>
      <li
        class={`${navLinkClasses} border-r-2 border-black hover:bg-black hover:text-white`}
      >
        <a href='/' class='block py-5 px-10'>Sobre mí</a>
      </li>
      <li class={`${navLinkClasses} bg-purple-300 hover:bg-purple-400`}>
        <a href='mailto:joaquinarias989@gmail.com' class='block py-5 px-10'
          >Contacto</a
        >
      </li>
    </ul>
    <div
      class='grid grid-cols-2 items-center lg:hidden border-b-2 border-black'
    >
      <button class={`${navLinkClasses} p-4 sm:p-5 md:px-10 h-full`}
        ><svg
          xmlns='http://www.w3.org/2000/svg'
          viewBox='0 0 20 20'
          fill='currentColor'
          class='block w-5 h-5 mx-auto'
        >
          <path
            fill-rule='evenodd'
            d='M2 6.75A.75.75 0 012.75 6h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 6.75zm0 6.5a.75.75 0 01.75-.75h14.5a.75.75 0 010 1.5H2.75a.75.75 0 01-.75-.75z'
            clip-rule='evenodd'></path>
        </svg>
      </button>
      <a
        href='mailto:joaquinarias989@gmail.com'
        class={`${navLinkClasses} block p-4 sm:p-5 md:px-10 h-full border-l-2 border-black bg-purple-300`}
        >CONTACTO</a
      >
    </div>
  </nav>
</header>
