---
import projects from '../data/projects.json';
import { bgColors } from '../helpers/colors';
import IconArrowLink from './icons/IconArrowLink.astro';
import IconGitHub from './icons/IconGitHub.astro';
---

<section class='border-y-2 border-black'>
  <h2
    class='text-3xl md:text-4xl xl:text-5xl uppercase border-b-2 border-black font-bold xl:leading-[1.2] px-3 py-3 md:px-5 lg:px-10'
  >
    # PROYECTOS<span class='italic font-light text-lg md:text-xl'>
      freelance</span
    >
  </h2>
  <div>
    {
      projects.map((project, index) => {
        const isOdd: boolean = index % 2 === 0;

        return (
          <article class='grid lg:grid-cols-2 border-b-2 border-black last:border-b-0'>
            <div
              class={`border-black ${
                isOdd ? 'lg:border-r-2' : 'lg:order-last'
              }`}
            >
              <div class='flex flex-col gap-5 py-10 px-3 md:px-5 lg:px-10 justify-between h-full'>
                <div class='flex flex-col gap-4'>
                  <div class='flex items-center'>
                    <a
                      href={project.url.deploy}
                      target='_blank'
                      rel='noreferrer'
                      class='group flex items-center gap-2 text-xl xl:text-2xl'
                    >
                      # {project.title}{' '}
                      <IconArrowLink
                        strokeWidth={2}
                        classes={'w-5 h-5 group-hover:scale-110 transition-all'}
                      />
                    </a>
                    <a
                      href={project.url.github}
                      target='_blank'
                      rel='noreferrer'
                      class='group px-2'
                    >
                      <IconGitHub
                        strokeWidth={2}
                        classes={'w-5 h-5 group-hover:scale-110 transition-all'}
                      />
                    </a>
                  </div>
                  {project.descriptions.map((desc) => (
                    <p class='text-lg xl:text-xl'>{desc}</p>
                  ))}
                </div>
                <div>
                  <span class='text-lg xl:text-xl'>Desarrollado con:</span>
                  <ul class='flex flex-wrap gap-3 mt-3'>
                    {project.technologies.map((tech) => (
                      <li
                        class={`text-lg border-2 border-black rounded-full px-4 py-1 ${
                          bgColors[
                            tech.color.toUpperCase() as keyof typeof bgColors
                          ]
                        }`}
                      >
                        {tech.name}
                      </li>
                    ))}
                  </ul>
                </div>
              </div>
            </div>
            <picture
              class={`grid place-content-center bg-gray-300 border-black border-t-2 lg:border-t-0 overflow-hidden p-3 md:p-5 ${
                isOdd ? '' : 'lg:border-r-2'
              }`}
            >
              <a
                href={project.url.deploy}
                target='_blank'
                rel='noreferrer'
                class='group border-2 border-transparent rounded-lg overflow-hidden block relative'
              >
                {project.imgs.map((img, indexImg) => {
                  const isHidden: boolean = indexImg > 0;
                  return (
                    <img
                      src={img.src}
                      alt={img.alt}
                      class={`w-full h-full object-fill aspect-video transition-all duration-300 ${
                        isHidden
                          ? 'absolute inset-0 opacity-0 scale-50 skew-y-6 skew-x-12 group-hover:opacity-100 group-hover:scale-100 group-hover:skew-y-0 group-hover:skew-x-0'
                          : 'group-hover:scale-50 group-hover:-skew-y-6 group-hover:-skew-x-12'
                      }`}
                      loading='lazy'
                    />
                  );
                })}
              </a>
            </picture>
          </article>
        );
      })
    }
  </div>
</section>
